body {
	background: linear-gradient(270deg, #743b68, #3d6744, #3e4963, #78293e, #aa8c10);
	background-size: 1000% 1000%;

	-webkit-animation: GradiantAnimation 49s ease infinite;
	-moz-animation: GradiantAnimation 49s ease infinite;
	animation: GradiantAnimation 49s ease infinite;
}

#fullpage {
	color: #fff;
}

/* Animations */

@-webkit-keyframes GradiantAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradiantAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradiantAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Particles */

#sintro canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}


/* Sections */

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1 {
	color: rgba(255, 255, 255, .9);
	font-size: 6em;
	text-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

#sintro h1, #stheend h1 {
	text-shadow: 0 0 100px rgba(0, 0, 0, .75);
}

#fullpage p {
	font-size: 2em;
}

#sintro p, #stheend p {
	text-align: center;
}

#s1 p, #s2 p, #s3 p {
	text-align: justify;
}

.section {
	text-align: center;
}

.slide .fp-tableCell {
	padding: 0 100px;
}

/* Navigation */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fff;
}

#menu li {
	display: inline-block;
	margin: 10px;
	color: #000;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#menu li.active {
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#menu li a {
	text-decoration: none;
	color: #000;
}

#menu li.active a:hover {
	color: #000;
}

#menu li:hover {
	background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
	padding: 9px 18px;
	display: block;
}

#menu li.active a {
	color: #fff;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Responsive */

@media screen and (max-width: 992px) {
	h1 {
		font-size: 3em;
	}

	#fullpage p {
		font-size: 1em;
	}

	.fp-controlArrow {
		display: none !important;
	}

	.slide .fp-tableCell {
		padding: 0 10px;
	}

	#menu {
		display: none;
	}
}
